[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/YijingWang
[access "refs/for/refs/*"]
	read = group user/YijingWang
	push = group user/YijingWang
	label-Code-Review = -2..+2 group user/YijingWang
	label-Verified = -1..+1 group user/YijingWang
	rebase = group user/YijingWang
	removeReviewer = group user/YijingWang
	submit = group user/YijingWang
[access "refs/heads/*"]
	read = group user/YijingWang
	create = group user/YijingWang
	push = +force group user/YijingWang
	pushMerge = group user/YijingWang
[access "refs/tags/*"]
	push = +force group user/YijingWang
	pushTag = group user/YijingWang
	pushSignedTag = group user/YijingWang
